* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.navbar {
  background-color: #046A1A;
  display: flex;
  padding-left: 7vw;
  padding-right: 7vw;
  margin-bottom: 3vh;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.navbar_left {
  display: flex;
  align-items: baseline;
  gap: 3vw;
}

.navbar_right {
  display: flex;
  align-items: baseline;
  gap: 3vw;
}

.navbar li {
  list-style-type: none;
}

.navbar .link {
  display: grid;
  text-decoration: none;
  align-items: center;
}

.navbar_mid {
  display: flex;
  align-items: middle;
}

.navbar_search {
  width: 30vw;
  margin-right: 2vw;
  border-radius: 5px;
  border: 1px black solid;
  height: 1.5vw;
}

.navbar_button {
  padding-left: 1vw;
  padding-right: 1vw;
  cursor: pointer;
  border-radius: 5px;
  border: 1px black solid;
  background-color: whitesmoke;
}

.format {
  border: 1px dotted red;
  margin-left: 7vw;
  margin-right: 7vw;
}