* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.navbar {
  background-color: #046A1A;
  display: flex;
  padding-left: 7vw;
  padding-right: 7vw;
  margin-bottom: 3vh;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.navbar_left {
  display: flex;
  align-items: baseline;
  gap: 3vw;
}

.navbar_right {
  display: flex;
  align-items: baseline;
  gap: 3vw;
}

.navbar li {
  list-style-type: none;
}

.navbar .link {
  display: grid;
  text-decoration: none;
  align-items: center;
}

.navbar_mid {
  display: flex;
  align-items: middle;
}

.navbar_search {
  width: 30vw;
  margin-right: 2vw;
  border-radius: 5px;
  border: 1px black solid;
  height: 1.5vw;
}

.navbar_button {
  padding-left: 1vw;
  padding-right: 1vw;
  cursor: pointer;
  border-radius: 5px;
  border: 1px black solid;
  background-color: whitesmoke;
}

.format {
  border: 1px dotted red;
  margin-left: 7vw;
  margin-right: 7vw;
}

.img {
  width: 180px;
}

.homepage {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1vw;
}
.homepage_favourite {
  border: 1px solid red;

  display: grid;
  grid-template-rows: auto;
}

.homepage_beginner {
  border: 1px solid blue;

  display: grid;
  grid-template-rows: auto;
}

.homepage_summer {
  border: 1px solid orange;

  display: grid;
  grid-template-rows: auto;
}

.hp_row_2 {
  background-color: #4B935A;
}

.hp_inzerat {
  background-color: whitesmoke;
  width: min-content;
  padding-bottom: 0.8vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  padding-top: 0.8vw;
  margin: 20px;
}

.hp_inzerat_detail_col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hp_inzerat_detail_row {
  display: grid;
  grid-template-rows: 1fr 1fr;
}